// 主色调
$APP_COLOR: #437bea;
$APP_COLOR_ACTIVE: #2962d1;
// 主背景色
$APP_BACKGROUND: #437bea;
$APP_BACKGROUND_ACTIVE: #2962d1;
// 成功
$SUCCESS_COLOR:#67C23A;
$SUCCESS_COLOR_ACTIVE: #5cbb2c;
// 警告
$WARNING_COLOR:#FFA024;
$WARNING_COLOR_ACTIVE: #f19216;
// 危险
$DANGER_COLOR: #E34D37;
$DANGER_COLOR_ACTIVE:#cc351f;
// 信息
$INFO_COLOR: #909399;
$INFO_COLOR_ACTIVE:#878a90;


:export {
    APP_COLOR: $APP_COLOR;
    APP_COLOR_ACTIVE: $APP_COLOR_ACTIVE;
    APP_BACKGROUND: $APP_BACKGROUND;
    APP_BACKGROUND_ACTIVE: $APP_BACKGROUND_ACTIVE;
    SUCCESS_COLOR: $SUCCESS_COLOR;
    SUCCESS_COLOR_ACTIVE: $SUCCESS_COLOR_ACTIVE;
    WARNING_COLOR: $WARNING_COLOR;
    WARNING_COLOR_ACTIVE: $WARNING_COLOR_ACTIVE;
    DANGER_COLOR: $DANGER_COLOR;
    DANGER_COLOR_ACTIVE: $DANGER_COLOR_ACTIVE;
    INFO_COLOR: $INFO_COLOR;
    INFO_COLOR_ACTIVE: $INFO_COLOR_ACTIVE;
}