// 字体大小
$FONT_SIZE: 28rpx;
// 主色调
$APP_COLOR: #0001AE;
$APP_BACKGROUND: linear-gradient(270deg, #0001AE 0%, #5B2B90 100%);
$APP_COLOR_ACTIVE: #030492;
// 成功
$SUCCESS_COLOR:#67C23A;
$SUCCESS_COLOR_ACTIVE: #5cbb2c;
// 警告
$WARNING_COLOR:#FFA024;
$WARNING_COLOR_ACTIVE: #f19216;
// 危险
$DANGER_COLOR: #E34D37;
$DANGER_COLOR_ACTIVE:#cc351f;
// 信息
$INFO_COLOR: #909399;
$INFO_COLOR_ACTIVE:#878a90;

page {
    font-size: $FONT_SIZE;
}

:export {
    APP_COLOR: $APP_COLOR;
    APP_COLOR_ACTIVE: $APP_COLOR_ACTIVE;
    SUCCESS_COLOR: $SUCCESS_COLOR;
    SUCCESS_COLOR_ACTIVE: $SUCCESS_COLOR_ACTIVE;
    WARNING_COLOR: $WARNING_COLOR;
    WARNING_COLOR_ACTIVE: $WARNING_COLOR_ACTIVE;
    DANGER_COLOR: $DANGER_COLOR;
    DANGER_COLOR_ACTIVE: $DANGER_COLOR_ACTIVE;
    INFO_COLOR: $INFO_COLOR;
    INFO_COLOR_ACTIVE: $INFO_COLOR_ACTIVE;
}